In [ ]:
import pandas as pd
df=pd.read_csv('/content/Cleaned SST en agriculture Final2 (2).csv')

In [ ]:
#afficher des informations sur la dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 65 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   N°                                     80 non-null     int64
 1   Date de la visite                      80 non-null     object
 2   Nom                                    0 non-null      float64
 3   Prénom                                 0 non-null      float64
 4   N° du téléphone                        0 non-null      float64
 5   Date de naissance                      80 non-null     object
 6   Age                                    80 non-null     object
 7   Situation maritale                     80 non-null     object
 8   Nb enfants                             80 non-null     object
 9   Nb pers à charge                       80 non-null     object
 10  Profession du mari                     80 non-null     object
 11  Domicile                               80 non-null     object
 12  Niveau socio-économique                80 non-null     object
 13  Tabagisme                              80 non-null     object
 14  Neffa                                  80 non-null     object
 15  Fumées de Tabouna                      80 non-null     object
 16  Antécédents familiaux                  80 non-null     object
 17  q                                      80 non-null     object
 18  Antécédent personnels: chirurgicaux    80 non-null     object
 19  AT en milieu agricole                  80 non-null     object
 20  H travail / jour                       80 non-null     object
 21  Mécanisme AT                           80 non-null     object
 22  Ménopause                              80 non-null     object
 23  Age ménopause                          80 non-null     object
 24  Antécédents gynéco                     80 non-null     object
 25  Ancienneté agricole                    80 non-null     object
 26  Produits chimiques utilisés            80 non-null     object
 27  Troubles gynécologiques                80 non-null     object
 28  Professions antérieures                80 non-null     object
 29  Catégorie professionnelle              80 non-null     object
 30  Statut                                 80 non-null     object
 31  Tâches effectuées                      80 non-null     object
 32  Contraintes physiques                  80 non-null     object
 33  Engrais utilisés                       80 non-null     object
 34  Produits biologiques utilisés          80 non-null     object
 35  Contraintes thermiques                 80 non-null     object
 36  J travail / Sem                        80 non-null     object
 37  Masque pour pesticides                 80 non-null     object
 38  Bottes                                 80 non-null     object
 39  Niveau scolaire                        80 non-null     object
 40  Gants                                  80 non-null     object
 41  Casquette/Mdhalla                      80 non-null     object
 42  Manteau imperméable                    80 non-null     object
 43  Moyen de transport                     80 non-null     object
 44  Troubles cardio-respiratoires          80 non-null     object
 45  Troubles cognitifs                     80 non-null     object
 46  Troubles neurologiques                 80 non-null     object
 47  Troubles cutanés/phanères              80 non-null     object
 48  Autres plaintes:                       80 non-null     object
 49  Poids                                  80 non-null     int64
 50  Taille                                 80 non-null     int64
 51  TAS                                    80 non-null     int64
 52  TAD                                    80 non-null     int64
 53  GAD                                    80 non-null     float64
 54  Examen cardiovasculaire et pulmonaire  80 non-null     object
 55  Examen tête et cou                     80 non-null     object
 56  Examen buccodentaire                   80 non-null     object
 57  Examen des membres supérieurs          80 non-null     object
 58  Examen du rachis                       80 non-null     object
 59  Examen des téguments                   80 non-null     object
 60  Examen neurologique                    80 non-null     object
 61  Examen abdominal                       80 non-null     object
 62  Examen visuel                          80 non-null     object
 63  Spirométrie                            80 non-null     object
 64  Interprétation Spiro                   80 non-null     object
dtypes: float64(4), int64(5), object(56)
memory usage: 40.8+ KB

In [ ]:
#dimensionnenment de la dataset
df.shape

(80, 65)

In [ ]:
#afficher les 5 premiers lignes de la dataset
df.head()

,N°,Date de la visite,Nom,Prénom,N° du téléphone,Date de naissance,Age,Situation maritale,Nb enfants,Nb pers à charge,...,Examen tête et cou,Examen buccodentaire,Examen des membres supérieurs,Examen du rachis,Examen des téguments,Examen neurologique,Examen abdominal,Examen visuel,Spirométrie,Interprétation Spiro
0,1,2024-09-21,NaN,NaN,NaN,1965-01-01,60,célibataire,0,1,...,non spécifié,non spécifié,non spécifié,non spécifié,non spécifié,non spécifié,non spécifié,non spécifié,mauvaise exécution,-
1,2,2024-09-21,NaN,NaN,NaN,non spécifié,non spécifié,mariée,1,1,...,non spécifié,non spécifié,non spécifié,lombalgies,non spécifié,non spécifié,non spécifié,pterygion bilatéral - flou visuel,non faite,-
2,3,2024-09-21,NaN,NaN,NaN,1965-01-01,60,mariée,4,non spécifié,...,non spécifié,non spécifié,douleurs coudes,non spécifié,non spécifié,non spécifié,non spécifié,flou visuel,interprétable,-
3,4,2024-09-21,NaN,NaN,NaN,1977-01-01,48,mariée,5,0,...,non spécifié,non spécifié,non spécifié,non spécifié,non spécifié,non spécifié,non spécifié,bav,non faite,-
4,5,2024-09-21,NaN,NaN,NaN,1982-01-06,43,mariée,3,non spécifié,...,non spécifié,non spécifié,non spécifié,lombosciatalgies,non spécifié,non spécifié,non spécifié,pterygion droit,interprétable,normale

In [ ]:
#suppression de valeurs 'Nom', 'Prénom','N° du téléphone','Date de naissance' puisque il sont vides
df=df.drop(columns=['Nom', 'Prénom','N° du téléphone','Date de naissance'])

In [ ]:
#remplacer la valeur non_spécifié par Nan
import numpy as np
df.replace("non spécifié", np.nan, inplace=True)

In [ ]:
# visualisation de dataframe
df=df.drop(columns=['N°'])

In [ ]:
# Afficher le nombre de Nan dans chaque colonne
na_counts = df.isna().sum()
for column in df.columns:
    nan_count = df[column].isna().sum()
    print(f"Colonne '{column}' : {nan_count} valeurs manquantes (NaN)")

Colonne 'Date de la visite' : 0 valeurs manquantes (NaN)
Colonne 'Age' : 1 valeurs manquantes (NaN)
Colonne 'Situation maritale' : 1 valeurs manquantes (NaN)
Colonne 'Nb enfants' : 1 valeurs manquantes (NaN)
Colonne 'Nb pers à charge' : 30 valeurs manquantes (NaN)
Colonne 'Profession du mari' : 12 valeurs manquantes (NaN)
Colonne 'Domicile' : 0 valeurs manquantes (NaN)
Colonne 'Niveau socio-économique' : 27 valeurs manquantes (NaN)
Colonne 'Tabagisme' : 2 valeurs manquantes (NaN)
Colonne 'Neffa' : 2 valeurs manquantes (NaN)
Colonne 'Fumées de Tabouna' : 1 valeurs manquantes (NaN)
Colonne 'Antécédents familiaux' : 15 valeurs manquantes (NaN)
Colonne 'q' : 0 valeurs manquantes (NaN)
Colonne 'Antécédent personnels: chirurgicaux' : 1 valeurs manquantes (NaN)
Colonne 'AT en milieu agricole' : 0 valeurs manquantes (NaN)
Colonne 'H travail / jour' : 3 valeurs manquantes (NaN)
Colonne 'Mécanisme AT' : 0 valeurs manquantes (NaN)
Colonne 'Ménopause' : 0 valeurs manquantes (NaN)
Colonne 'Age ménopause' : 51 valeurs manquantes (NaN)
Colonne 'Antécédents gynéco' : 6 valeurs manquantes (NaN)
Colonne 'Ancienneté agricole' : 3 valeurs manquantes (NaN)
Colonne 'Produits chimiques utilisés' : 41 valeurs manquantes (NaN)
Colonne 'Troubles gynécologiques' : 74 valeurs manquantes (NaN)
Colonne 'Professions antérieures' : 68 valeurs manquantes (NaN)
Colonne 'Catégorie professionnelle' : 0 valeurs manquantes (NaN)
Colonne 'Statut' : 8 valeurs manquantes (NaN)
Colonne 'Tâches effectuées' : 0 valeurs manquantes (NaN)
Colonne 'Contraintes physiques' : 6 valeurs manquantes (NaN)
Colonne 'Engrais utilisés' : 16 valeurs manquantes (NaN)
Colonne 'Produits biologiques utilisés' : 31 valeurs manquantes (NaN)
Colonne 'Contraintes thermiques' : 34 valeurs manquantes (NaN)
Colonne 'J travail / Sem' : 4 valeurs manquantes (NaN)
Colonne 'Masque pour pesticides' : 0 valeurs manquantes (NaN)
Colonne 'Bottes' : 0 valeurs manquantes (NaN)
Colonne 'Niveau scolaire' : 2 valeurs manquantes (NaN)
Colonne 'Gants' : 0 valeurs manquantes (NaN)
Colonne 'Casquette/Mdhalla' : 0 valeurs manquantes (NaN)
Colonne 'Manteau imperméable' : 0 valeurs manquantes (NaN)
Colonne 'Moyen de transport' : 1 valeurs manquantes (NaN)
Colonne 'Troubles cardio-respiratoires' : 47 valeurs manquantes (NaN)
Colonne 'Troubles cognitifs' : 63 valeurs manquantes (NaN)
Colonne 'Troubles neurologiques' : 45 valeurs manquantes (NaN)
Colonne 'Troubles cutanés/phanères' : 66 valeurs manquantes (NaN)
Colonne 'Autres plaintes:' : 53 valeurs manquantes (NaN)
Colonne 'Poids' : 0 valeurs manquantes (NaN)
Colonne 'Taille' : 0 valeurs manquantes (NaN)
Colonne 'TAS' : 0 valeurs manquantes (NaN)
Colonne 'TAD' : 0 valeurs manquantes (NaN)
Colonne 'GAD' : 0 valeurs manquantes (NaN)
Colonne 'Examen cardiovasculaire et pulmonaire' : 71 valeurs manquantes (NaN)
Colonne 'Examen tête et cou' : 71 valeurs manquantes (NaN)
Colonne 'Examen buccodentaire' : 72 valeurs manquantes (NaN)
Colonne 'Examen des membres supérieurs' : 67 valeurs manquantes (NaN)
Colonne 'Examen du rachis' : 60 valeurs manquantes (NaN)
Colonne 'Examen des téguments' : 74 valeurs manquantes (NaN)
Colonne 'Examen neurologique' : 77 valeurs manquantes (NaN)
Colonne 'Examen abdominal' : 73 valeurs manquantes (NaN)
Colonne 'Examen visuel' : 64 valeurs manquantes (NaN)
Colonne 'Spirométrie' : 0 valeurs manquantes (NaN)
Colonne 'Interprétation Spiro' : 0 valeurs manquantes (NaN)

In [ ]:
#localiser les valeur value dans âge
df['Age'].iloc[25]

'#VALUE!'

In [ ]:
# Suppression de la ligne 13 puisque représente beaucoup de valeur 'non spécifié'
(df.iloc[13]).isna().sum()
df=df.drop(13)

In [ ]:
# nouveau dimensionnement après la suppression des colonnes
df.shape

(79, 60)

In [ ]:
# remplacer les valeurs nan par 0
df.loc[25, 'Age'] =0
df.loc[30, 'Age'] =0
df.loc[1, 'Age'] =0

In [ ]:
# remplacer la valeur de nan dans la colonne âge
median_age = int(df['Age'].median())
df['Age'] = df['Age'].replace(0, median_age)

In [ ]:
# voir de nouveau le nombres de valeurs Nan pour chaque Attributs
na_counts = df.isna().sum()
for column in df.columns:
    nan_count = df[column].isna().sum()
    print(f"Colonne '{column}' : {nan_count} valeurs manquantes (NaN)")

print("max nan columns",na_counts.max())

Colonne 'Date de la visite' : 0 valeurs manquantes (NaN)
Colonne 'Age' : 0 valeurs manquantes (NaN)
Colonne 'Situation maritale' : 0 valeurs manquantes (NaN)
Colonne 'Nb enfants' : 0 valeurs manquantes (NaN)
Colonne 'Nb pers à charge' : 29 valeurs manquantes (NaN)
Colonne 'Profession du mari' : 11 valeurs manquantes (NaN)
Colonne 'Domicile' : 0 valeurs manquantes (NaN)
Colonne 'Niveau socio-économique' : 26 valeurs manquantes (NaN)
Colonne 'Tabagisme' : 2 valeurs manquantes (NaN)
Colonne 'Neffa' : 2 valeurs manquantes (NaN)
Colonne 'Fumées de Tabouna' : 1 valeurs manquantes (NaN)
Colonne 'Antécédents familiaux' : 14 valeurs manquantes (NaN)
Colonne 'q' : 0 valeurs manquantes (NaN)
Colonne 'Antécédent personnels: chirurgicaux' : 1 valeurs manquantes (NaN)
Colonne 'AT en milieu agricole' : 0 valeurs manquantes (NaN)
Colonne 'H travail / jour' : 3 valeurs manquantes (NaN)
Colonne 'Mécanisme AT' : 0 valeurs manquantes (NaN)
Colonne 'Ménopause' : 0 valeurs manquantes (NaN)
Colonne 'Age ménopause' : 51 valeurs manquantes (NaN)
Colonne 'Antécédents gynéco' : 5 valeurs manquantes (NaN)
Colonne 'Ancienneté agricole' : 3 valeurs manquantes (NaN)
Colonne 'Produits chimiques utilisés' : 40 valeurs manquantes (NaN)
Colonne 'Troubles gynécologiques' : 73 valeurs manquantes (NaN)
Colonne 'Professions antérieures' : 67 valeurs manquantes (NaN)
Colonne 'Catégorie professionnelle' : 0 valeurs manquantes (NaN)
Colonne 'Statut' : 8 valeurs manquantes (NaN)
Colonne 'Tâches effectuées' : 0 valeurs manquantes (NaN)
Colonne 'Contraintes physiques' : 6 valeurs manquantes (NaN)
Colonne 'Engrais utilisés' : 16 valeurs manquantes (NaN)
Colonne 'Produits biologiques utilisés' : 31 valeurs manquantes (NaN)
Colonne 'Contraintes thermiques' : 34 valeurs manquantes (NaN)
Colonne 'J travail / Sem' : 4 valeurs manquantes (NaN)
Colonne 'Masque pour pesticides' : 0 valeurs manquantes (NaN)
Colonne 'Bottes' : 0 valeurs manquantes (NaN)
Colonne 'Niveau scolaire' : 1 valeurs manquantes (NaN)
Colonne 'Gants' : 0 valeurs manquantes (NaN)
Colonne 'Casquette/Mdhalla' : 0 valeurs manquantes (NaN)
Colonne 'Manteau imperméable' : 0 valeurs manquantes (NaN)
Colonne 'Moyen de transport' : 1 valeurs manquantes (NaN)
Colonne 'Troubles cardio-respiratoires' : 46 valeurs manquantes (NaN)
Colonne 'Troubles cognitifs' : 62 valeurs manquantes (NaN)
Colonne 'Troubles neurologiques' : 44 valeurs manquantes (NaN)
Colonne 'Troubles cutanés/phanères' : 65 valeurs manquantes (NaN)
Colonne 'Autres plaintes:' : 52 valeurs manquantes (NaN)
Colonne 'Poids' : 0 valeurs manquantes (NaN)
Colonne 'Taille' : 0 valeurs manquantes (NaN)
Colonne 'TAS' : 0 valeurs manquantes (NaN)
Colonne 'TAD' : 0 valeurs manquantes (NaN)
Colonne 'GAD' : 0 valeurs manquantes (NaN)
Colonne 'Examen cardiovasculaire et pulmonaire' : 70 valeurs manquantes (NaN)
Colonne 'Examen tête et cou' : 70 valeurs manquantes (NaN)
Colonne 'Examen buccodentaire' : 71 valeurs manquantes (NaN)
Colonne 'Examen des membres supérieurs' : 66 valeurs manquantes (NaN)
Colonne 'Examen du rachis' : 59 valeurs manquantes (NaN)
Colonne 'Examen des téguments' : 73 valeurs manquantes (NaN)
Colonne 'Examen neurologique' : 76 valeurs manquantes (NaN)
Colonne 'Examen abdominal' : 72 valeurs manquantes (NaN)
Colonne 'Examen visuel' : 63 valeurs manquantes (NaN)
Colonne 'Spirométrie' : 0 valeurs manquantes (NaN)
Colonne 'Interprétation Spiro' : 0 valeurs manquantes (NaN)
max nan columns 76

In [ ]:
# suppression de la colonne Examen neurologique
df=df.drop(columns=['Examen neurologique'])

In [ ]:
# remplacer par la valeur rien dans Profession du mari par chômeur
df['Profession du mari']=df['Profession du mari'].replace('rien','chômeur')
df['Profession du mari'].iloc[16]

'chômeur'

In [ ]:
#remplacer la valeur 0 par Nan
df['Profession du mari']=df['Profession du mari'].replace('0',np.nan)

In [ ]:
df['Profession du mari'].iloc[33]

nan

In [ ]:
#suppression de la colonne Neffa
df=df.drop(columns=['Neffa'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, 0 to 79
Data columns (total 58 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date de la visite                      79 non-null     object
 1   Age                                    79 non-null     object
 2   Situation maritale                     79 non-null     object
 3   Nb enfants                             79 non-null     object
 4   Nb pers à charge                       50 non-null     object
 5   Profession du mari                     57 non-null     object
 6   Domicile                               79 non-null     object
 7   Niveau socio-économique                53 non-null     object
 8   Tabagisme                              77 non-null     object
 9   Fumées de Tabouna                      78 non-null     object
 10  Antécédents familiaux                  65 non-null     object
 11  q                                      79 non-null     object
 12  Antécédent personnels: chirurgicaux    78 non-null     object
 13  AT en milieu agricole                  79 non-null     object
 14  H travail / jour                       76 non-null     object
 15  Mécanisme AT                           79 non-null     object
 16  Ménopause                              79 non-null     object
 17  Age ménopause                          28 non-null     object
 18  Antécédents gynéco                     74 non-null     object
 19  Ancienneté agricole                    76 non-null     object
 20  Produits chimiques utilisés            39 non-null     object
 21  Troubles gynécologiques                6 non-null      object
 22  Professions antérieures                12 non-null     object
 23  Catégorie professionnelle              79 non-null     object
 24  Statut                                 71 non-null     object
 25  Tâches effectuées                      79 non-null     object
 26  Contraintes physiques                  73 non-null     object
 27  Engrais utilisés                       63 non-null     object
 28  Produits biologiques utilisés          48 non-null     object
 29  Contraintes thermiques                 45 non-null     object
 30  J travail / Sem                        75 non-null     object
 31  Masque pour pesticides                 79 non-null     object
 32  Bottes                                 79 non-null     object
 33  Niveau scolaire                        78 non-null     object
 34  Gants                                  79 non-null     object
 35  Casquette/Mdhalla                      79 non-null     object
 36  Manteau imperméable                    79 non-null     object
 37  Moyen de transport                     78 non-null     object
 38  Troubles cardio-respiratoires          33 non-null     object
 39  Troubles cognitifs                     17 non-null     object
 40  Troubles neurologiques                 35 non-null     object
 41  Troubles cutanés/phanères              14 non-null     object
 42  Autres plaintes:                       27 non-null     object
 43  Poids                                  79 non-null     int64
 44  Taille                                 79 non-null     int64
 45  TAS                                    79 non-null     int64
 46  TAD                                    79 non-null     int64
 47  GAD                                    79 non-null     float64
 48  Examen cardiovasculaire et pulmonaire  9 non-null      object
 49  Examen tête et cou                     9 non-null      object
 50  Examen buccodentaire                   8 non-null      object
 51  Examen des membres supérieurs          13 non-null     object
 52  Examen du rachis                       20 non-null     object
 53  Examen des téguments                   6 non-null      object
 54  Examen abdominal                       7 non-null      object
 55  Examen visuel                          16 non-null     object
 56  Spirométrie                            79 non-null     object
 57  Interprétation Spiro                   79 non-null     object
dtypes: float64(1), int64(4), object(53)
memory usage: 36.4+ KB

In [124]:
#suppression d'autre colonne qui représente le plus grands nombre de valeurs Nan
df=df.drop(columns=['Troubles gynécologiques','Professions antérieures','Examen cardiovasculaire et pulmonaire','Examen tête et cou','Examen buccodentaire','Examen des téguments','Examen abdominal'])

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, 0 to 79
Data columns (total 51 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date de la visite                    79 non-null     object
 1   Age                                  79 non-null     object
 2   Situation maritale                   79 non-null     object
 3   Nb enfants                           79 non-null     object
 4   Nb pers à charge                     50 non-null     object
 5   Profession du mari                   57 non-null     object
 6   Domicile                             79 non-null     object
 7   Niveau socio-économique              53 non-null     object
 8   Tabagisme                            77 non-null     object
 9   Fumées de Tabouna                    78 non-null     object
 10  Antécédents familiaux                65 non-null     object
 11  q                                    79 non-null     object
 12  Antécédent personnels: chirurgicaux  78 non-null     object
 13  AT en milieu agricole                79 non-null     object
 14  H travail / jour                     76 non-null     object
 15  Mécanisme AT                         79 non-null     object
 16  Ménopause                            79 non-null     object
 17  Age ménopause                        28 non-null     object
 18  Antécédents gynéco                   74 non-null     object
 19  Ancienneté agricole                  76 non-null     object
 20  Produits chimiques utilisés          39 non-null     object
 21  Catégorie professionnelle            79 non-null     object
 22  Statut                               71 non-null     object
 23  Tâches effectuées                    79 non-null     object
 24  Contraintes physiques                73 non-null     object
 25  Engrais utilisés                     63 non-null     object
 26  Produits biologiques utilisés        48 non-null     object
 27  Contraintes thermiques               45 non-null     object
 28  J travail / Sem                      75 non-null     object
 29  Masque pour pesticides               79 non-null     object
 30  Bottes                               79 non-null     object
 31  Niveau scolaire                      78 non-null     object
 32  Gants                                79 non-null     object
 33  Casquette/Mdhalla                    79 non-null     object
 34  Manteau imperméable                  79 non-null     object
 35  Moyen de transport                   78 non-null     object
 36  Troubles cardio-respiratoires        33 non-null     object
 37  Troubles cognitifs                   17 non-null     object
 38  Troubles neurologiques               35 non-null     object
 39  Troubles cutanés/phanères            14 non-null     object
 40  Autres plaintes:                     27 non-null     object
 41  Poids                                79 non-null     int64
 42  Taille                               79 non-null     int64
 43  TAS                                  79 non-null     int64
 44  TAD                                  79 non-null     int64
 45  GAD                                  79 non-null     float64
 46  Examen des membres supérieurs        13 non-null     object
 47  Examen du rachis                     20 non-null     object
 48  Examen visuel                        16 non-null     object
 49  Spirométrie                          79 non-null     object
 50  Interprétation Spiro                 79 non-null     object
dtypes: float64(1), int64(4), object(46)
memory usage: 32.1+ KB

In [130]:
nan_count_per_row = df.isna().sum(axis=1)

# Afficher le résultat
for index, nan_count in nan_count_per_row.items():
    print(f"Ligne {index} a {nan_count} valeur(s) NaN")

Ligne 0 a 9 valeur(s) NaN
Ligne 1 a 9 valeur(s) NaN
Ligne 2 a 9 valeur(s) NaN
Ligne 3 a 11 valeur(s) NaN
Ligne 4 a 10 valeur(s) NaN
Ligne 5 a 11 valeur(s) NaN
Ligne 6 a 10 valeur(s) NaN
Ligne 7 a 11 valeur(s) NaN
Ligne 8 a 9 valeur(s) NaN
Ligne 9 a 7 valeur(s) NaN
Ligne 10 a 6 valeur(s) NaN
Ligne 11 a 8 valeur(s) NaN
Ligne 12 a 9 valeur(s) NaN
Ligne 14 a 14 valeur(s) NaN
Ligne 15 a 7 valeur(s) NaN
Ligne 16 a 10 valeur(s) NaN
Ligne 17 a 8 valeur(s) NaN
Ligne 18 a 11 valeur(s) NaN
Ligne 19 a 11 valeur(s) NaN
Ligne 20 a 9 valeur(s) NaN
Ligne 21 a 9 valeur(s) NaN
Ligne 22 a 9 valeur(s) NaN
Ligne 23 a 10 valeur(s) NaN
Ligne 24 a 11 valeur(s) NaN
Ligne 25 a 10 valeur(s) NaN
Ligne 26 a 10 valeur(s) NaN
Ligne 27 a 8 valeur(s) NaN
Ligne 28 a 7 valeur(s) NaN
Ligne 29 a 8 valeur(s) NaN
Ligne 30 a 6 valeur(s) NaN
Ligne 31 a 8 valeur(s) NaN
Ligne 32 a 10 valeur(s) NaN
Ligne 33 a 11 valeur(s) NaN
Ligne 34 a 12 valeur(s) NaN
Ligne 35 a 10 valeur(s) NaN
Ligne 36 a 13 valeur(s) NaN
Ligne 37 a 6 valeur(s) NaN
Ligne 38 a 11 valeur(s) NaN
Ligne 39 a 14 valeur(s) NaN
Ligne 40 a 11 valeur(s) NaN
Ligne 41 a 10 valeur(s) NaN
Ligne 42 a 5 valeur(s) NaN
Ligne 43 a 7 valeur(s) NaN
Ligne 44 a 13 valeur(s) NaN
Ligne 45 a 14 valeur(s) NaN
Ligne 46 a 6 valeur(s) NaN
Ligne 47 a 8 valeur(s) NaN
Ligne 48 a 10 valeur(s) NaN
Ligne 49 a 8 valeur(s) NaN
Ligne 50 a 7 valeur(s) NaN
Ligne 51 a 12 valeur(s) NaN
Ligne 52 a 9 valeur(s) NaN
Ligne 53 a 6 valeur(s) NaN
Ligne 54 a 5 valeur(s) NaN
Ligne 55 a 9 valeur(s) NaN
Ligne 56 a 7 valeur(s) NaN
Ligne 57 a 10 valeur(s) NaN
Ligne 58 a 4 valeur(s) NaN
Ligne 59 a 8 valeur(s) NaN
Ligne 60 a 15 valeur(s) NaN
Ligne 61 a 7 valeur(s) NaN
Ligne 62 a 7 valeur(s) NaN
Ligne 63 a 9 valeur(s) NaN
Ligne 64 a 11 valeur(s) NaN
Ligne 65 a 11 valeur(s) NaN
Ligne 66 a 13 valeur(s) NaN
Ligne 67 a 16 valeur(s) NaN
Ligne 68 a 10 valeur(s) NaN
Ligne 69 a 12 valeur(s) NaN
Ligne 70 a 7 valeur(s) NaN
Ligne 71 a 10 valeur(s) NaN
Ligne 72 a 10 valeur(s) NaN
Ligne 73 a 10 valeur(s) NaN
Ligne 74 a 11 valeur(s) NaN
Ligne 75 a 9 valeur(s) NaN
Ligne 76 a 16 valeur(s) NaN
Ligne 77 a 13 valeur(s) NaN
Ligne 78 a 10 valeur(s) NaN
Ligne 79 a 7 valeur(s) NaN

In [133]:
df.shape

(79, 51)

In [134]:
#enlever la colonne Date de la visite
df=df.drop(columns=['Date de la visite'])

In [137]:
for column in df.columns:
    nan_count = df[column].isna().sum()
    print(f"Colonne '{column}' : {nan_count} valeurs manquantes (NaN)")

Colonne 'Age' : 0 valeurs manquantes (NaN)
Colonne 'Situation maritale' : 0 valeurs manquantes (NaN)
Colonne 'Nb enfants' : 0 valeurs manquantes (NaN)
Colonne 'Nb pers à charge' : 29 valeurs manquantes (NaN)
Colonne 'Profession du mari' : 22 valeurs manquantes (NaN)
Colonne 'Domicile' : 0 valeurs manquantes (NaN)
Colonne 'Niveau socio-économique' : 26 valeurs manquantes (NaN)
Colonne 'Tabagisme' : 2 valeurs manquantes (NaN)
Colonne 'Fumées de Tabouna' : 1 valeurs manquantes (NaN)
Colonne 'Antécédents familiaux' : 14 valeurs manquantes (NaN)
Colonne 'q' : 0 valeurs manquantes (NaN)
Colonne 'Antécédent personnels: chirurgicaux' : 1 valeurs manquantes (NaN)
Colonne 'AT en milieu agricole' : 0 valeurs manquantes (NaN)
Colonne 'H travail / jour' : 3 valeurs manquantes (NaN)
Colonne 'Mécanisme AT' : 0 valeurs manquantes (NaN)
Colonne 'Ménopause' : 0 valeurs manquantes (NaN)
Colonne 'Age ménopause' : 51 valeurs manquantes (NaN)
Colonne 'Antécédents gynéco' : 5 valeurs manquantes (NaN)
Colonne 'Ancienneté agricole' : 3 valeurs manquantes (NaN)
Colonne 'Produits chimiques utilisés' : 40 valeurs manquantes (NaN)
Colonne 'Catégorie professionnelle' : 0 valeurs manquantes (NaN)
Colonne 'Statut' : 8 valeurs manquantes (NaN)
Colonne 'Tâches effectuées' : 0 valeurs manquantes (NaN)
Colonne 'Contraintes physiques' : 6 valeurs manquantes (NaN)
Colonne 'Engrais utilisés' : 16 valeurs manquantes (NaN)
Colonne 'Produits biologiques utilisés' : 31 valeurs manquantes (NaN)
Colonne 'Contraintes thermiques' : 34 valeurs manquantes (NaN)
Colonne 'J travail / Sem' : 4 valeurs manquantes (NaN)
Colonne 'Masque pour pesticides' : 0 valeurs manquantes (NaN)
Colonne 'Bottes' : 0 valeurs manquantes (NaN)
Colonne 'Niveau scolaire' : 1 valeurs manquantes (NaN)
Colonne 'Gants' : 0 valeurs manquantes (NaN)
Colonne 'Casquette/Mdhalla' : 0 valeurs manquantes (NaN)
Colonne 'Manteau imperméable' : 0 valeurs manquantes (NaN)
Colonne 'Moyen de transport' : 1 valeurs manquantes (NaN)
Colonne 'Troubles cardio-respiratoires' : 46 valeurs manquantes (NaN)
Colonne 'Troubles cognitifs' : 62 valeurs manquantes (NaN)
Colonne 'Troubles neurologiques' : 44 valeurs manquantes (NaN)
Colonne 'Troubles cutanés/phanères' : 65 valeurs manquantes (NaN)
Colonne 'Autres plaintes:' : 52 valeurs manquantes (NaN)
Colonne 'Poids' : 0 valeurs manquantes (NaN)
Colonne 'Taille' : 0 valeurs manquantes (NaN)
Colonne 'TAS' : 0 valeurs manquantes (NaN)
Colonne 'TAD' : 0 valeurs manquantes (NaN)
Colonne 'GAD' : 0 valeurs manquantes (NaN)
Colonne 'Examen des membres supérieurs' : 66 valeurs manquantes (NaN)
Colonne 'Examen du rachis' : 59 valeurs manquantes (NaN)
Colonne 'Examen visuel' : 63 valeurs manquantes (NaN)
Colonne 'Spirométrie' : 0 valeurs manquantes (NaN)
Colonne 'Interprétation Spiro' : 0 valeurs manquantes (NaN)

In [138]:
df.shape

(79, 50)

In [139]:
#remplacer la valeur - par la valeur inconnu dans l'attribut Mécanisme AT
df['Mécanisme AT'] = df['Mécanisme AT'].replace('-', 'Inconnu')
df['Interprétation Spiro'] = df['Interprétation Spiro'].replace('-', 'Inconnu')

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, 0 to 79
Data columns (total 50 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Age                                  79 non-null     object
 1   Situation maritale                   79 non-null     object
 2   Nb enfants                           79 non-null     object
 3   Nb pers à charge                     50 non-null     object
 4   Profession du mari                   57 non-null     object
 5   Domicile                             79 non-null     object
 6   Niveau socio-économique              53 non-null     object
 7   Tabagisme                            77 non-null     object
 8   Fumées de Tabouna                    78 non-null     object
 9   Antécédents familiaux                65 non-null     object
 10  q                                    79 non-null     object
 11  Antécédent personnels: chirurgicaux  78 non-null     object
 12  AT en milieu agricole                79 non-null     object
 13  H travail / jour                     76 non-null     object
 14  Mécanisme AT                         79 non-null     object
 15  Ménopause                            79 non-null     object
 16  Age ménopause                        28 non-null     object
 17  Antécédents gynéco                   74 non-null     object
 18  Ancienneté agricole                  76 non-null     object
 19  Produits chimiques utilisés          39 non-null     object
 20  Catégorie professionnelle            79 non-null     object
 21  Statut                               71 non-null     object
 22  Tâches effectuées                    79 non-null     object
 23  Contraintes physiques                73 non-null     object
 24  Engrais utilisés                     63 non-null     object
 25  Produits biologiques utilisés        48 non-null     object
 26  Contraintes thermiques               45 non-null     object
 27  J travail / Sem                      75 non-null     object
 28  Masque pour pesticides               79 non-null     object
 29  Bottes                               79 non-null     object
 30  Niveau scolaire                      78 non-null     object
 31  Gants                                79 non-null     object
 32  Casquette/Mdhalla                    79 non-null     object
 33  Manteau imperméable                  79 non-null     object
 34  Moyen de transport                   78 non-null     object
 35  Troubles cardio-respiratoires        33 non-null     object
 36  Troubles cognitifs                   17 non-null     object
 37  Troubles neurologiques               35 non-null     object
 38  Troubles cutanés/phanères            14 non-null     object
 39  Autres plaintes:                     27 non-null     object
 40  Poids                                79 non-null     int64
 41  Taille                               79 non-null     int64
 42  TAS                                  79 non-null     int64
 43  TAD                                  79 non-null     int64
 44  GAD                                  79 non-null     float64
 45  Examen des membres supérieurs        13 non-null     object
 46  Examen du rachis                     20 non-null     object
 47  Examen visuel                        16 non-null     object
 48  Spirométrie                          79 non-null     object
 49  Interprétation Spiro                 79 non-null     object
dtypes: float64(1), int64(4), object(45)
memory usage: 31.5+ KB

In [147]:
#remplacer la valeur 'froid,chaleur' par nan
df['Contraintes thermiques']=df['Contraintes thermiques'].replace('froid, chaleur',np.nan)

In [149]:
df['Taille_m'] = df['Taille'] / 100
df['BMI'] = df['Poids'] / (df['Taille_m'] ** 2)

In [151]:
# remplacer les valeur des Nan par la valeur précèdente
df = df.fillna(method='ffill')

<ipython-input-151-2c428d02cf67>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')

In [152]:
# voir les Nan pour tous les attributs
for column in df.columns:
    nan_count = df[column].isna().sum()
    print(f"Colonne '{column}' : {nan_count} valeurs manquantes (NaN)")

Colonne 'Age' : 0 valeurs manquantes (NaN)
Colonne 'Situation maritale' : 0 valeurs manquantes (NaN)
Colonne 'Nb enfants' : 0 valeurs manquantes (NaN)
Colonne 'Nb pers à charge' : 0 valeurs manquantes (NaN)
Colonne 'Profession du mari' : 1 valeurs manquantes (NaN)
Colonne 'Domicile' : 0 valeurs manquantes (NaN)
Colonne 'Niveau socio-économique' : 1 valeurs manquantes (NaN)
Colonne 'Tabagisme' : 0 valeurs manquantes (NaN)
Colonne 'Fumées de Tabouna' : 0 valeurs manquantes (NaN)
Colonne 'Antécédents familiaux' : 0 valeurs manquantes (NaN)
Colonne 'q' : 0 valeurs manquantes (NaN)
Colonne 'Antécédent personnels: chirurgicaux' : 0 valeurs manquantes (NaN)
Colonne 'AT en milieu agricole' : 0 valeurs manquantes (NaN)
Colonne 'H travail / jour' : 0 valeurs manquantes (NaN)
Colonne 'Mécanisme AT' : 0 valeurs manquantes (NaN)
Colonne 'Ménopause' : 0 valeurs manquantes (NaN)
Colonne 'Age ménopause' : 0 valeurs manquantes (NaN)
Colonne 'Antécédents gynéco' : 1 valeurs manquantes (NaN)
Colonne 'Ancienneté agricole' : 0 valeurs manquantes (NaN)
Colonne 'Produits chimiques utilisés' : 0 valeurs manquantes (NaN)
Colonne 'Catégorie professionnelle' : 0 valeurs manquantes (NaN)
Colonne 'Statut' : 0 valeurs manquantes (NaN)
Colonne 'Tâches effectuées' : 0 valeurs manquantes (NaN)
Colonne 'Contraintes physiques' : 0 valeurs manquantes (NaN)
Colonne 'Engrais utilisés' : 0 valeurs manquantes (NaN)
Colonne 'Produits biologiques utilisés' : 0 valeurs manquantes (NaN)
Colonne 'Contraintes thermiques' : 79 valeurs manquantes (NaN)
Colonne 'J travail / Sem' : 0 valeurs manquantes (NaN)
Colonne 'Masque pour pesticides' : 0 valeurs manquantes (NaN)
Colonne 'Bottes' : 0 valeurs manquantes (NaN)
Colonne 'Niveau scolaire' : 0 valeurs manquantes (NaN)
Colonne 'Gants' : 0 valeurs manquantes (NaN)
Colonne 'Casquette/Mdhalla' : 0 valeurs manquantes (NaN)
Colonne 'Manteau imperméable' : 0 valeurs manquantes (NaN)
Colonne 'Moyen de transport' : 0 valeurs manquantes (NaN)
Colonne 'Troubles cardio-respiratoires' : 0 valeurs manquantes (NaN)
Colonne 'Troubles cognitifs' : 5 valeurs manquantes (NaN)
Colonne 'Troubles neurologiques' : 0 valeurs manquantes (NaN)
Colonne 'Troubles cutanés/phanères' : 29 valeurs manquantes (NaN)
Colonne 'Autres plaintes:' : 3 valeurs manquantes (NaN)
Colonne 'Poids' : 0 valeurs manquantes (NaN)
Colonne 'Taille' : 0 valeurs manquantes (NaN)
Colonne 'TAS' : 0 valeurs manquantes (NaN)
Colonne 'TAD' : 0 valeurs manquantes (NaN)
Colonne 'GAD' : 0 valeurs manquantes (NaN)
Colonne 'Examen des membres supérieurs' : 2 valeurs manquantes (NaN)
Colonne 'Examen du rachis' : 1 valeurs manquantes (NaN)
Colonne 'Examen visuel' : 1 valeurs manquantes (NaN)
Colonne 'Spirométrie' : 0 valeurs manquantes (NaN)
Colonne 'Interprétation Spiro' : 0 valeurs manquantes (NaN)
Colonne 'Taille_m' : 0 valeurs manquantes (NaN)
Colonne 'BMI' : 0 valeurs manquantes (NaN)

In [154]:
df = df.apply(lambda row: row.fillna(method='ffill'), axis=1) #remplacer les Nan sur les lignes avec la valeur précédente

<ipython-input-154-ec2a568c1a66>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.apply(lambda row: row.fillna(method='ffill'), axis=1)

In [155]:
for column in df.columns:
    nan_count = df[column].isna().sum()
    print(f"Colonne '{column}' : {nan_count} valeurs manquantes (NaN)")

Colonne 'Age' : 0 valeurs manquantes (NaN)
Colonne 'Situation maritale' : 0 valeurs manquantes (NaN)
Colonne 'Nb enfants' : 0 valeurs manquantes (NaN)
Colonne 'Nb pers à charge' : 0 valeurs manquantes (NaN)
Colonne 'Profession du mari' : 0 valeurs manquantes (NaN)
Colonne 'Domicile' : 0 valeurs manquantes (NaN)
Colonne 'Niveau socio-économique' : 0 valeurs manquantes (NaN)
Colonne 'Tabagisme' : 0 valeurs manquantes (NaN)
Colonne 'Fumées de Tabouna' : 0 valeurs manquantes (NaN)
Colonne 'Antécédents familiaux' : 0 valeurs manquantes (NaN)
Colonne 'q' : 0 valeurs manquantes (NaN)
Colonne 'Antécédent personnels: chirurgicaux' : 0 valeurs manquantes (NaN)
Colonne 'AT en milieu agricole' : 0 valeurs manquantes (NaN)
Colonne 'H travail / jour' : 0 valeurs manquantes (NaN)
Colonne 'Mécanisme AT' : 0 valeurs manquantes (NaN)
Colonne 'Ménopause' : 0 valeurs manquantes (NaN)
Colonne 'Age ménopause' : 0 valeurs manquantes (NaN)
Colonne 'Antécédents gynéco' : 0 valeurs manquantes (NaN)
Colonne 'Ancienneté agricole' : 0 valeurs manquantes (NaN)
Colonne 'Produits chimiques utilisés' : 0 valeurs manquantes (NaN)
Colonne 'Catégorie professionnelle' : 0 valeurs manquantes (NaN)
Colonne 'Statut' : 0 valeurs manquantes (NaN)
Colonne 'Tâches effectuées' : 0 valeurs manquantes (NaN)
Colonne 'Contraintes physiques' : 0 valeurs manquantes (NaN)
Colonne 'Engrais utilisés' : 0 valeurs manquantes (NaN)
Colonne 'Produits biologiques utilisés' : 0 valeurs manquantes (NaN)
Colonne 'Contraintes thermiques' : 0 valeurs manquantes (NaN)
Colonne 'J travail / Sem' : 0 valeurs manquantes (NaN)
Colonne 'Masque pour pesticides' : 0 valeurs manquantes (NaN)
Colonne 'Bottes' : 0 valeurs manquantes (NaN)
Colonne 'Niveau scolaire' : 0 valeurs manquantes (NaN)
Colonne 'Gants' : 0 valeurs manquantes (NaN)
Colonne 'Casquette/Mdhalla' : 0 valeurs manquantes (NaN)
Colonne 'Manteau imperméable' : 0 valeurs manquantes (NaN)
Colonne 'Moyen de transport' : 0 valeurs manquantes (NaN)
Colonne 'Troubles cardio-respiratoires' : 0 valeurs manquantes (NaN)
Colonne 'Troubles cognitifs' : 0 valeurs manquantes (NaN)
Colonne 'Troubles neurologiques' : 0 valeurs manquantes (NaN)
Colonne 'Troubles cutanés/phanères' : 0 valeurs manquantes (NaN)
Colonne 'Autres plaintes:' : 0 valeurs manquantes (NaN)
Colonne 'Poids' : 0 valeurs manquantes (NaN)
Colonne 'Taille' : 0 valeurs manquantes (NaN)
Colonne 'TAS' : 0 valeurs manquantes (NaN)
Colonne 'TAD' : 0 valeurs manquantes (NaN)
Colonne 'GAD' : 0 valeurs manquantes (NaN)
Colonne 'Examen des membres supérieurs' : 0 valeurs manquantes (NaN)
Colonne 'Examen du rachis' : 0 valeurs manquantes (NaN)
Colonne 'Examen visuel' : 0 valeurs manquantes (NaN)
Colonne 'Spirométrie' : 0 valeurs manquantes (NaN)
Colonne 'Interprétation Spiro' : 0 valeurs manquantes (NaN)
Colonne 'Taille_m' : 0 valeurs manquantes (NaN)
Colonne 'BMI' : 0 valeurs manquantes (NaN)

In [156]:
#save dataset after modifications
df.to_csv('/content/final_Dataset2.csv',index=False)